{% extends "navbar.html" %}

{% block content %}

    <div class="row mt-3">
        <div class="col-sm-4 offset-md-1 top-margin">
            <blockquote class="blockquote text-center font-weight-bolder">
                "Going in one more round when you don’t think you can.That’s what makes all
                the difference in your life."
                <footer class="blockquote-footer"><cite title="Source Title">Rocky Balboa</cite></footer>
            </blockquote>
        </div>
        <div class="col-sm-7">

            <iframe class="float-md-none mr-3 " width="560" height="315"
                    src="https://www.youtube.com/embed/phN4xAAl8DU"
                    allowfullscreen></iframe>
        </div>

    </div>

    <div class="row top-margin">
        <div class="col offset-lg-0">

            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Make sure you have the Apps needed </h5>
                        <p class="card-text">If you need help with any of the apps click get help. </p><br><br>
                        <a href="{% url "support" %}" target="_blank" class="btn btn-primary">Get Help</a>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hibbard's Office Hours </h5>
                        <p class="card-text">Monday & Thursday  </br> 1:00pm - 2:00pm
                            </br>  Tuesday & Friday  </br> 11:00am - 12:15pm.<br>
                        </p>
                    </div>

                </div>


                <div class="card mh-75">
                    <div class="card-body">
                        <h5 class="card-title">Classroom Weekly Schedules </h5>
                        <p class="card-text alert-primary">Wondering what time your scheduled class are? </p>
                        <p> Wondering what your Daily attendance might look like?</p>
                        <a href="{% url "support" %}" target="_blank" class="btn btn-primary">Get Help</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

        <script>
        $(document).ready(function () {
            {% block domready %}
            {% endblock %}
        });
        </script>

{% endblock %}
