{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
   {{ form.media }}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Hiibardsclass.org{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/cover.css' %}">



</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Hibbards Class</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01"
            aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link active" href="{% url "main_home" %}">Home</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    {% if request.user.is_staff %}
                        <a class="nav-item nav-link" href="{% url "courses:manage_course_list" %}"
                           class="btn btn-simple">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "support" %}" class="btn btn-simple">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "video" %}"
                               class="btn btn-simple">Video</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "schedule" %}" class="btn btn-simple">schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "assignments" %}" class="btn btn-simple">Assignments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "account:logout" %}" class="btn btn-simple">Log
                                Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "support" %}" class="btn btn-simple">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "students_profile:student_course_list" %}"
                               class="btn btn-simple">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "video" %}"
                               class="btn btn-simple">Video</a>
                        <li class="nav-item">
                <a class="nav-item nav-link" href="{% url "schedule" %}" class="btn btn-simple">schedule</a>
            </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "assignments" %}" class="btn btn-simple">Assignments</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "account:logout" %}" class="btn btn-simple">Log
                                Out</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url "support" %}" class="btn btn-simple">Resources</a>
                    </li>
                {% endif %}

            {% if not user.is_authenticated %}

                <li class="nav-item">
                <a class="nav-item nav-link" href="{% url "schedule" %}" class="btn btn-simple">schedule</a>
            </li>
                <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "video" %}"
                               class="btn btn-simple">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url "assignments" %}" class="btn btn-simple">Assignments</a>
                </li>
                <li class="nav-item">
                <a class="nav-item nav-link" href="{% url "account:login" %}" class="btn btn-simple">Log in</a>
            </li>

            {% endif %}
        </ul>
    </div>
</nav>


    <div class="container-fluid">
    {% block content %}


      <footer class="footer py-3">

            <span class="text-muted">Hibbards Class 2020</span>

    </footer>
{% endblock %}





    </div>
</body>
</html>
