<!DOCTYPE html>
<html lang="">
{% load static %}
<head>
  <meta charset="utf-8" />
    <title>{% block title %}Hibbsclass{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/cover.css" %}" >

</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Hibbards Class</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01"
            aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link active" href="{% url "main_home" %}">Home</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    {% if request.user.is_staff %}
                        <a class="nav-item nav-link" href="{% url "courses:manage_course_list" %}"
                           class="btn btn-simple">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "support" %}" class="btn btn-simple">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "video" %}"
                               class="btn btn-simple">Video</a>
                        </li>
                        li class="nav-item">
                <a class="nav-item nav-link" href="{% url "schedule" %}" class="btn btn-simple">schedule</a>
            </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "account:logout" %}" class="btn btn-simple">Log
                                Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "support" %}" class="btn btn-simple">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "students_profile:student_course_list" %}"
                               class="btn btn-simple">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "video" %}"
                               class="btn btn-simple">Video</a>
                        li class="nav-item">
                <a class="nav-item nav-link" href="{% url "schedule" %}" class="btn btn-simple">schedule</a>
            </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "account:logout" %}" class="btn btn-simple">Log
                                Out</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url "support" %}" class="btn btn-simple">Resources</a>
                    </li>
                {% endif %}

            {% if not user.is_authenticated %}

                <li class="nav-item">
                <a class="nav-item nav-link" href="{% url "schedule" %}" class="btn btn-simple">schedule</a>
            </li>
                <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "video" %}"
                               class="btn btn-simple">Video</a>
                </li>
                <li class="nav-item">
                <a class="nav-item nav-link" href="{% url "account:login" %}" class="btn btn-simple">Log in</a>
            </li>

            {% endif %}
        </ul>
    </div>
</nav>


    <div class="container-fluid">
    {% block content %}


      <footer class="footer py-3">

            <span class="text-muted">Hibbards Class 2020</span>

    </footer>
{% endblock %}
    </div>
</body>
</html>
