{% extends "navbar.html" %}
 <div id="content">
    {% block content %}

    <div class="container-fluid pb-2">
        <h1 class="display-7">How To's  </h1>

    </div>
        <div class="row pb-2">
            <div class="col-sm-3">
                <div class="card mh-75">
                    <div class="card-body">
                        <h5 class="card-title">Office Hours</h5><br>
                        <p class="card-text">My office hours will 7:15am t0 3:15am every school day.<br><br></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mh-75">
                    <div class="card-body">
                        <h5 class="card-title">Get to know Kaizala</h5>
                        <p class="card-text">Short tutorial on how to setup and use Kaizala app</p><br>
                        <a href="https://support.office.com/en-us/article/get-to-know-kaizala-22700f1d-274f-4533-8956-247c733f6ae6" target="_blank" class="btn btn-primary">Kaizala</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" >
                <div class="card" style="height: 200px">
                    <div class="card-body">
                        <h5 class="card-title">How to Create a Remind Account</h5>
                        <p class="card-text">Short tutorial on how to setup an account with remind</p>
                        <a href="https://help.remind.com/hc/en-us/articles/202131933-How-do-I-create-an-account-" target="_blank" class="btn btn-primary">Remind Tutorial</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="height: 200px">
                    <div class="card-body">
                        <h5 class="card-title">Zoom</h5>
                        <p class="card-text">How to Join a classroom webinar </p><br>

                        <a href="https://support.zoom.us/hc/en-us/articles/201362193-How-Do-I-Join-A-Meeting-" target="_blank" class="btn btn-primary">How to Join</a>
                    </div>
                </div>
            </div>
        </div>
           <div class="container-fluid">
        <h3> Communication Apps </h3>

    </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="card mh-75">
                    <div class="card-body">
                        <h5 class="card-title">Microsoft Teams</h5>
                        <p class="card-text">We will use Microsoft Teams for most communication and chats
                            and live class meetings</p>
                        <a href="https://teams.microsoft.com/" target="_blank" class="btn btn-primary">Open Teams</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mh-75">
                    <div class="card-body">
                        <h5 class="card-title">Microsoft Kaizala</h5>
                        <p class="card-text">A simple and secure work management and mobile messaging app.</p>
                        <a href="https://products.office.com/en-ww/business/microsoft-kaizala?market=af#office-CustomMosaicCta-5el612o" target="_blank" class="btn btn-primary">Download Kaizala</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" >
                <div class="card" style="height: 200px">
                    <div class="card-body">
                        <h5 class="card-title">Remind App</h5>
                        <p class="card-text">A free, safe, messaging app for school communications.</p><br>
                        <a href="https://www.remind.com/apps/" target="_blank" class="btn btn-primary">Download Remind</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="height: 200px">
                    <div class="card-body">
                        <h5 class="card-title">Zoom App</h5>
                        <p class="card-text">Secure video webinars for classroom Learning </p><br>

                        <a href="https://www.remind.com/apps/" target="_blank" class="btn btn-primary">Download Zoom Client</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
  </div>

